@import "tailwindcss";

:root {
  --verde: #22c55e;
  --verdehover: #16a34a
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-montserrat: var(--font-montserrat);
  --font-dancing_script: var(--font-dancing_script);
  --color-verde: var(--verde);
  --color-verdehover: var(--verdehover);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}